body{
  background-color: pink;
}
  h1{
  font-size: 40px;
    color: blue;
    margin-right: 150px;
}

.container ul li{
  display:inline-block;
  margin: 0 20px;
}

.image {
  width: 30%;
  float: left;
}

.projects{
  width:30%;
  display:inline-block;
  margin:20px;
  font-family:sans-serif;
}
.interests {
  width:30%;
  display:inline-block;
  margin:20px;
  font-family:sans-serif;
  float:right;
}
.aboutme{
  width:40%;
  display:inline-block;
  margin:20px;
}
.programmingstory {
width: 40%;
float: right;
position: relative;
top: 120px;
}
