h1{
  font-size: 40px;
    color: blue;
}

.image {
  width: 30%;
  float: left;
}

.projects{
  width:30%;
  display:inline-block;
  margin:20px;
  font-family:sans-serif;
}
.interests ol{
  width:40%;
  display:inline-block;
  margin:20px;
  font-family:sans-serif;
  }
}
