h1{
  font-size: 40px;
    color: blue;
}

.image {
  width: 30%;
  float: left;
}

.projects {
  width: 50%;
  display: inline-block;
  margin: 20px;
  font-family: sans-serif;
}

.projects ul {
    text-decoration: none;
}
